<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    
    <div class="signup-page">
        <div class="signup-form-container-1">
            <div class="signup-form-container-2">
                <h1>Create a New Account!</h1>
    
                <form action="/auth/sign-up" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required />

                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required />

                    <label for="confirmPassword">Confirm Password:</label>
                    <input
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        required
                    />

                    <button id="signup-btn" type="submit">Sign Up!</button>
                </form>
            </div>
        </div>
        <div class="signup-img">

        </div>
    </div>
</body>
<footer>
    <div class="footer-links">
    <a href="https://github.com/ranjith-jacob">Github</a>
    <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-msg">
        <p>This is a work in progress, check back later for more updates!</p>
    </div>
</footer>
</html>