<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Identities</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>

    <div class="index-header">
        <h1>Your Saved Identities:</h1>
        <a href="/identities/new">+ Add a New Identity!</a>
    </div>
    
    <div class="card-container">
            <% identities.forEach((identity) => { %>
                <a href="/identities/<%= identity._id %>">
                    <h4><%= identity.name %> Identity</h4>
                    <p>Owned by <%= identity.owner.username %></p>
                </a>
            <% }); %>
    </div>
</body>
</html>