<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Identities</title>
</head>
<body>
    <h1>Here're all of your Identities!</h1>
</body>
</html>