<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Identities</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>Here're all of your Identities!</h1>
    <a href="/identities/new">Add a New Identity!</a>

    <ul>
        <% identities.forEach((identity) => { %>
        <li>
            An identity used for <%= identity.name %>, owned by <%= identity.owner.username %>.
            <a href="/identities/<%= identity._id %>">View more details.</a>
        </li>
        <% }); %>
    </ul>
</body>
</html>