<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Identity</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="page-wrapper">
    <div class="new-container">
        <div class="new-form-container">
            <h1>Add a new Identity!</h1>
            
            <form action="/identities" method="POST"> <!-- removing "required" property for every checkbox in form due to HTML checkbox behaviour -->

                <label for="name">Identity name:</label>
                <input type="text" name="name" id="name" required />

                <label for="last-updated">Last updated:</label>
                <input type="date" name="lastUpdated" id="last-updated" required />

                <label for="pwd-reused">Has this password been reused?</label>
                <input type="checkbox" name="pwdReused" id="pwd-reused" />

                <label for="stored-in-pwd-manager">Is this password being stored in a Password Manager?</label>
                <input type="checkbox" name="storedInPwdManager" id="stored-in-pwd-manager" />

                <label for="mfa-present">Is MFA in use for this Identity?</label>
                <input type="checkbox" name="mfaPresent" id="mfa-present" />
                
                <label for="pwd-strength">Password strength:</label>
                <!-- <input type="select" name="pwdStrength" id="pwd-strength" required /> -->
                <select name="pwdStrength" id="pwd-strength" required >
                    <option value="weak">Weak</option>
                    <option value="medium">Medium</option>
                    <option value="strong">Strong</option>
                </select>
                <p> <span title="Minimum of 16 characters | Uses uppercase & lowercase letters | Uses numbers and special characters | Not reused on other  sites"> Password strength criteria <sup>&#9432;</sup> </span> | 
                <span title="Meet all criteria = Strong | Miss one = Medium | Miss two or more = Weak"> How to set password strength <sup>&#9432;</sup> </span></p> <!-- Add explainer text here! -->

                <label for="pwned-status">Has this password been leaked before?</label>
                <input type="checkbox" name="pwnedStatus" id="pwned-status" />
                
                <label for="notes">Notes:</label>
                <!-- <input type="textarea" name="notes" id="notes" /> -->
                <textarea name="notes" id="notes" rows="4" cols="10" wrap="hard"></textarea> <!-- disable resizing of textarea using CSS -->

                <button type="submit">Submit!</button>
            </form>
        </div>
    </div>
    </div>
</body>
<footer>
    <div class="footer-links">
    <a href="https://github.com/ranjith-jacob">Github</a>
    <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-msg">
        <p>This is a work in progress, check back later for more updates!</p>
    </div>
</footer>
</html>