<nav>
    <% if (user) { %>
    <div class="landing-header">
        <div class="logo-container">
            <div class="heading-icon"></div>
            <h1>Et Tu Brute Force?</h1>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="./">Back</a> <!-- modify Back button as needed -->
            <a href="/identities">View all Identities</a>
            <a href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
    <% } else { %>
    <div class="landing-header">
        <div class="logo-container">
            <div class="heading-icon"></div>
            <h1>Et Tu Brute Force?</h1>
        </div>
        <div class="auth-links">
            <a href="/auth/sign-up">Sign Up</a>
            <a href="/auth/sign-in">Sign In</a>
        </div>
    </div>
    <% } %>
</nav>