<nav>
    <% if (user) { %>
    <div class="landing-header">
        <div class="logo-container">
            <div class="heading-icon"></div>
            <h1><a href="/">Et Tu, Brute Force?</a></h1>
        </div>
        <div class="nav-content">
            <div class="nav-welcome">
                <p>Welcome, <%= user.username %>!</p>
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="./">Back</a>
                <a href="/identities">View all Identities</a>
                <a href="/identities/new">Add New Identity</a>
                <a href="/auth/sign-out">Sign Out</a>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="landing-header">
        <div class="logo-container">
            <div class="heading-icon"></div>
            <h1><a href="/">Et Tu, Brute Force?</a></h1>
        </div>
        <div class="auth-links">
            <a href="/auth/sign-up">Sign Up</a>
            <a href="/auth/sign-in">Sign In</a>
        </div>
    </div>
    <% } %>
</nav>