@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700");

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    /* height: 98.3vh;
    width: 98.7vw; */
    height: 95vh;
    width: 100vw;
    /* max-width: max-content; */
    background-color: rgba(47, 52, 61, 1);
    /*investigate this */
    overflow: hidden;
}

/*light grey: rgb(83, 101, 126); */
/* dark grey:rgba(47, 52, 61, 1) */
/*green: rgb(54, 181, 116) */

.landing-image > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    color: black;
    text-shadow: 2px 2px 4px rgb(54, 167, 116, 0.6);
}

.landing-image > h1 > small {
    font-size: 0.55rem;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    background-color: rgba(47, 52, 61, 0.8);
    max-height: 40vh;
    max-width: 40vw;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 2rem;
    border-radius: 4px;
    /* overflow-y: auto; */
    overflow-x: auto;
    /* justify-content: center; */
}

#landing-heading {
    padding: 3px;
}

.page-wrapper {
    background-color: rgb(83, 101, 126);
    height: 100%;
    width: 100%;
    position:relative; 
    left: -0.625rem;
}

.landing-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1.125rem 2.188rem;
}

.logo-container > h1 {
    /* display: flex; */
    margin: 0;
    font-size: 1.5rem;
}

.logo-container > h1 > a {
    text-decoration: none;
    color: rgb(54, 167, 116);
    /* background-color: rgb(255, 255, 255); */
    padding: 1.6rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    /* text-shadow: 1px 1px 2px green, 0 0 25px black, 0 0 5px white; */
}

/* .heading-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/128/11382/11382524.png');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
} */

.landing-image {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 0 -0.5rem;
    /* max-width: 600px; */
}

.auth-links,
.nav-links {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: auto; */
    margin: 1.5625rem 1.25rem;
}

.auth-links > a {
    color: white;
    padding: 0.625rem 1.5625rem;
    border-radius: 0.625rem;
    text-decoration: none;
    margin: 0 0.625rem;
}

.auth-links > a:first-child {
    /* background-color: rgb(39, 76, 156); */
    background: linear-gradient(104deg,rgb(54, 181, 116) 60%,rgb(0, 0, 0) 60% 100%) no-repeat 100% 100%;
    background-size: 300% 100%;
    transition: background-position 0.4s ease;
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.auth-links > a:first-child:hover {
    /* background-color: rgb(54, 167, 116); */
    color: white;
    background-position: 0% 100%;
}

.auth-links > a:nth-child(2) {
    /* background-color: rgb(39, 76, 156); */
    background: linear-gradient(104deg,rgb(54, 181, 116) 60%,rgb(0, 0, 0) 60% 100%) no-repeat 100% 100%;
    background-size: 300% 100%;
    transition: background-position 0.4s ease;
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.auth-links > a:nth-child(2):hover {
    /* background-color: rgb(54, 167, 116); */
    color: white;
    background-position: 0% 100%;
}

.nav-content {
    /* text-decoration: none; */
    display: flex;
    /* margin: 0 0.625rem; */
    margin-right: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* justify-content: center; */
    align-items: baseline;
    max-height: 10vh;
    max-width: 100vw;
}

.nav-links > a {
    text-decoration: none;
    /* display: flex; */
    margin: 0 0.625rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    max-width: 100%;
}

.nav-welcome {
    text-transform: capitalize;
    color: rgb(54, 181, 116);
    font-style: italic;
}

.nav-links > a:hover {
    color: rgb(54, 181, 116);
    text-decoration: underline;
}

.signup-page {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(249, 247, 240, 0.4);
    /* opacity: 1; */
    background-blend-mode: lighten;
    margin: 0 0 0 -0.5rem;
}

.signin-page {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(249, 247, 240, 0.4);
    background-blend-mode: lighten;
    margin: 0 0 0 -0.5rem;
}

/* .signup-img {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* .signin-img {
    background-image: url('https://images.unsplash.com/photo-1479839672679-a46483c0e7c8');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
    z-index: -10;
    left: -10px;
} */

.signup-page,
.signin-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-form-container-2,
.signin-form-container-2 {
    padding: 10px 30px 20px;
    border: 1px solid gray;
    background-color: rgba(47, 52, 61, 1);
    /* opacity: 0.6; */
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
    display: flex;
    flex-direction: column;
}

.signup-form-container-2 > form > input,
.signin-form-container-2 > form > input {
    width: 96.7%;
    /* max-width: 1200px; */
}

/* .signup-form-container-2 > form > button,
.signin-form-container-2 > form > button {
    width: 100%;
} */

label {
    font-size: 0.9em;
}

input {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0.75rem;
    margin: 0.625rem 0;
    width: 15em;
    padding: 5px;
}

button {
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    background-color: rgb(54, 167, 116);
    padding: 0.4375rem 0.9375rem;
    margin: 0.625rem 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
}

.delete-btn {
    background-color: rgb(139, 14, 14);
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: rgb(199, 6, 6);
}

.index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem;
    width: 90%;
}

.index-header > h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

.index-header > a {
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(54, 181, 116);
    text-decoration: none;
    color: white;
    background-color: rgba(47, 52, 61, 1);
    transition: background-color 0.3s ease;
}

.index-header > a:hover {
    background-color: rgb(54, 181, 116);
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 4.375rem;
    overflow: auto;
    /* overflow-y: scroll; */
}

.card-container > a {
    padding: 0.75rem 1.5625rem;
    border: 2px solid rgb(54, 181, 116);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.3125rem 1.875rem 3.125rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.card-container > a:hover {
    background-color: rgba(47, 52, 61, 0.8);
    color: white;
    box-shadow: 2px 3px rgba(255, 255, 255, 0.6);
  
}

a > h4 {
    font-weight: normal;
    font-size: 1em;
}

.new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 90%; */
    max-height: 80vh;
    /* padding-top: 3vh; */
    max-width: 80vw;
    margin: 0 auto;
    /* margin-top: 2rem; */
    overflow: auto;
}

.new-form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(54, 181, 116);
    padding: 0.625rem 2.5rem;
    margin-top: 3rem;
    background-color: rgba(47, 52, 61, 1);
    max-width: 80%;
}

.new-form-container > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6em;
}

.new-form-container > form {
    display: flex;
    flex-direction: column;
}

.new-form-container > form > input {
    width: 97.5%;
}

.new-form-container > form > button {
    margin-bottom: 1.25rem;
    transition: background-color 0.3s ease;
}

.new-form-container > form > button:hover {
    background-color: rgb(34, 148, 89);
    cursor: pointer;
}

.show-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3.125rem;
    height: 100%;
    max-width: 100%;
}

/* .show-img {
    background-image: url('https://images.unsplash.com/photo-1600585154526-990dced4db0d');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
} */

.show-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    max-height: 70vh;
    background-color: rgba(47, 52, 61, 1);
    border: 2px solid rgb(54, 181, 116);
    border-radius: 3px;
    overflow: auto;
}

.show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    gap: 1rem;
}

.show-header > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
}

.show-header > h3 {
    font-weight: normal;
    font-size: 1.6em;
}

.show-details-container {
    border: 1px solid gray;
    padding: 1.25rem 1.875rem;
    width: 70%;
    margin: 0.625rem 0;
    max-height: 90%;
}

.show-details-container > h3 {
    font-weight: bold;
    font-size: 1.6em;
}

.show-details-container > p {
    font-size: 1em;
}

.owner-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.owner-container > a {
    padding: 0.375rem 2rem;
    background-color: rgb(83, 101, 126);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
}

.owner-container > a:hover {
    background-color: rgb(109, 128, 155);
}

footer {
    display: flex;
    justify-content: flex-start;
    max-height: 5vh;
    height: 4vh;
    width: 100vw;
    gap: 35vw;
    margin-top: 0.3rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    align-items: center;
    /* justify-content: space-between; */
}

.footer-links > a {
    text-decoration: none;
    color: white;
    padding: 0.125rem;
    
}

.footer-links > a:hover {
    color: rgb(54, 181, 116);
    cursor: pointer;
}

.footer-message {
    margin: 0 auto;
    max-width: 50vw;
    overflow-wrap: break-word;
    margin-right: 2rem;
}

.error-page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    background-color: rgba(47, 52, 61, 1);
    margin: 0 auto;
    width: 40vw;
    margin-top: 1rem;
}

.error-page-wrap > img {
    width: 30vw;
}

.error-page-wrap > button {
    padding: 0.4375rem 1.25rem;
    margin-top: 0.75rem;
}

/* .favorites-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 30px;
    width: 70%;
    border: 1px solid gray;
    margin: 10px 0;
}

.favorites-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.favorites-count > h2 {
    font-size: 1.1em;
    margin: 0 10px;
} */