@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700");

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(249, 247, 240, 1);
}

.landing-header {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 20px 35px;
}

.logo-container > h1 {
  margin: 0;
  font-size: 1.4em;
}

.logo-container > h1 > a {
    text-decoration: none;
    color: black;
}

/* .heading-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/128/11382/11382524.png');
  width: 1.4em;
  height: 1.4em;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2px;
  padding-left: 5px;
} */

.landing-image {
  background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 0 -8px;
}

.auth-links,
.nav-links {
  margin: 25px 20px;
}

.auth-links > a {
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0 10px;
}

.auth-links > a:first-child {
  /* background-color: rgb(39, 76, 156); */
    background: linear-gradient(104deg,rgb(54, 181, 116) 60%,rgb(39, 38, 46) 60% 100%) no-repeat 100% 100%;
    background-size: 300% 100%;
    transition: background-position 0.4s ease;
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.auth-links > a:first-child:hover {
  /* background-color: rgb(54, 167, 116); */
  color: black;
  background-position: 0% 100%;
}

.auth-links > a:nth-child(2) {
  /* background-color: rgb(39, 76, 156); */
    background: linear-gradient(104deg,rgb(54, 181, 116) 60%,rgb(39, 38, 46) 60% 100%) no-repeat 100% 100%;
    background-size: 300% 100%;
    transition: background-position 0.4s ease;
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.auth-links > a:nth-child(2):hover {
  /* background-color: rgb(54, 167, 116); */
  color: black;
  background-position: 0% 100%;
}

.nav-links > a {
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  color: black;
}

.nav-links > a:hover {
  color: #6f8dae;
  text-decoration: underline;
}

.signup-page {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(249, 247, 240, 0.4);
    /* opacity: 1; */
    background-blend-mode: lighten;
    margin: 0 0 0 -8px;
}

.signin-page {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(249, 247, 240, 0.4);
    background-blend-mode: lighten;
    margin: 0 0 0 -8px;
}

/* .signup-img {
    background-image: url("https://images.pexels.com/photos/4291/door-green-closed-lock.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* .signin-img {
  background-image: url('https://images.unsplash.com/photo-1479839672679-a46483c0e7c8');
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  z-index: -10;
  left: -10px;
} */

.signup-page,
.signin-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form-container-2,
.signin-form-container-2 {
  padding: 10px 30px 20px;
  border: 1px solid gray;
  background-color: rgba(249, 247, 240, 1);
  /* opacity: 0.6; */
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

/* .signup-form-container-2 > form > button,
.signin-form-container-2 > form > button {

} */

label {
  font-size: 0.9em;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: rgb(54, 167, 116);
  padding: 7px 15px;
  margin: 10px 0;
}

button:hover {
  background-color: black;
}

.index-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 90%;
}

.index-header > h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.index-header > a {
  padding: 6px 12px;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
}

.index-header > a:hover {
  background-color: black;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px;
}

.card-container > a {
  padding: 12px 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 30px 50px;
  color: black;
}

.card-container > a:hover {
  background-color: black;
  color: white;
}

a > h4 {
  font-weight: normal;
  font-size: 1em;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.new-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 10px 40px;
}

.new-form-container > h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.6em;
}

.new-form-container > form {
  display: flex;
  flex-direction: column;
}

.new-form-container > form > input {
  width: 38em;
}

.new-form-container > form > button {
  margin-bottom: 20px;
}

.show-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  height: 100%;
  max-width: 100%;
}

/* .show-img {
  background-image: url('https://images.unsplash.com/photo-1600585154526-990dced4db0d');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  width: 40%;
} */

.show-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.show-header > h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.8em;
}

.show-header > h3 {
  font-weight: normal;
  font-size: 1.6em;
}

.show-details-container {
  border: 1px solid gray;
  padding: 20px 30px;
  width: 70%;
  margin: 10px 0;
}

.show-details-container > h3 {
  font-weight: bold;
  font-size: 1.6em;
}

.show-details-container > p {
  font-size: 1em;
}

.owner-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.owner-container > a {
  padding: 6px 32px;
  background-color: #6f8dae;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: 0.8em;
}

.owner-container > a:hover {
  background-color: black;
}

/* .favorites-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 30px;
  width: 70%;
  border: 1px solid gray;
  margin: 10px 0;
}

.favorites-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.favorites-count > h2 {
  font-size: 1.1em;
  margin: 0 10px;
} */